

body {
	width:100%;
	height:100%;
	opacity:1;
	background-color: #000;
}

.color-window {background-color: rgba(255,255,255,0.3); transition: background-color ease 0.2s;}

 .btn-large, .btn {
	background-color: turquoise !important;
    background-color: rgba(255,255,255,0.2);
    font-family: "Futura W01 Book", georgia, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}

/*================================EXPLORE==================================*/
#main{
	position: relative;
	box-sizing: border-box;
	z-index: 0;
	/*margin-left: 28%;*/
	max-width: 55%;
	margin:auto;
	background-position: 50% 50%;
	height:auto;
	font-family:"Futura W01 Book", georgia, sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:25px;
	text-transform:uppercase;
	color:#FFF;
	opacity:0.9;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
    border:4px double #cdb586;
}

.load-more {
	width: 100%;
    color: #fff;
   	font-size: 28px;
    -webkit-font-smoothing: antialiased;
}

#explore-display-top{
	border: 4px double white;
	margin: auto;
	position: relative;
	box-sizing: border-box;
}

#explore-display {
	padding-top: 30px;
	column-count: 3;
	line-height: 2;
	width: 100%;
	margin: 0px;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
}

.explore-image {
	display: inline-block;
	vertical-align: top;
	margin: 2px 2px 0;
	width: 100%;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    line-height: 0;
}

.explore-image img {
	width: 100%;
	margin: 0;
}

.explore-image__overlay {
	opacity: 0;
 	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity ease 0.2s;
    position: relative;
	box-sizing: border-box;
}

.explore-image:hover .explore-image__overlay {
    opacity: 1;
}

.explore-image__overlay__upvote {
	background-image: url("../img/upvote.svg"); 
	background-size: 100% 100%;
	position: absolute;
	bottom: 2px;
	right: 2px;
	height: 15%;
	width: 15%;
	min-height: 20px;
	min-width: 20px;
	cursor: pointer;
	
	box-sizing: border-box;
}

.explore-image__overlay__downvote {
	background-image: url("../img/downvote.svg"); 
	background-size: 100% 100%;
	position: absolute;
	bottom: 2px;
	left: 2px;
	height: 15%;
	width: 15%;
	min-height: 20px;
	min-width: 20px;
	cursor: pointer;
	box-sizing: border-box;
}

.tab a.active {
	color: #fff !important;
}

/*=================================PROFILE==============================*/
/*.container-profile {
	width: 100%;
	min-height: 1000px;
	color: white;
	column-count: 3;
	line-height: 2;
	width: 95%;
	margin: 20px auto;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
    border:4px double #cdb586;
    padding: 10px auto;
}*/
.container-rgb {
	width: 100%;
	margin: auto;
}

.rgb-image {
	margin: 10px auto;
	border: 2px solid white;
}

#settings {
	width: 100%;
	min-height: 500px;
	margin: auto;
}

#settings2 {
	background-color: black !important;
	margin: auto;
	width:100%;
}

#color-profile-slider {
	max-width: 30%;
	margin: auto;
	color: bisque;
}


#slider-text {
	color: white;
	text-align: center;
	font-family: "Futura W01 Book", georgia, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}

#resetBtn {
	margin: auto;
	max-width: 250px;
}

.profile-img {
	display: inline-block;
	vertical-align: top;
	margin: 2px;
	width: 100%;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    line-height: 0;
}

.profile-img img {
	width: 100%;
	margin: 0;
}

#profile .row .col {
	padding: 0;
}

.profile-img__overlay {
	opacity: 0;
 	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity ease 0.2s;
    position: relative;
	/*box-sizing: border-box;*/

}

.profile-img:hover .profile-img__overlay {
    opacity: 1;
}

.profile-img__overlay__delete {
	background-image: url("../img/delete.svg"); 
	background-size: 100% 100%;
	position: absolute;
	top: -30px;
	right: 5px;
	height: 15%;
	width: 15%;
	min-height: 20px;
	min-width: 20px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}

body.loading {
	overflow:hidden;
}

/*body.loading .loader {
	position:fixed;
	display:block;
	opacity:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10000000;
	background:#FFF;
	transition: none;
}

.loader {
	display:block;
	opacity:0;
	height:0;
	width:0;
	transition: opacity 1s ease-out, height 0s 1s, width 0s 1s;
}*/

#logocontainer { 
	display:block;
	width: 70px;
	height: 70px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0 0 -35px;
	perspective: 800px;
}

/*#flip {
	display:block;
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	animation: animLoad 1.5s ease-in-out 0s infinite;
	-webkit-animation: animLoad 1.5s ease-in-out 0s infinite;
	-moz-animation: animLoad 1.5s ease-in-out 0s infinite;
	-o-animation: animLoad 1.5s ease-in-out 0s infinite;
	-ms-animation: animLoad 1.5s ease-in-out 0s infinite;
}

#flip div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
*/
.logoback {
	transform: rotateY( 180deg );
	-webkit-transform: rotateY( 180deg );
	-ms-transform: rotateY( 180deg );
}

@keyframes animLoad{
     from { transform: rotateY( 0deg ); }
     to   { transform: rotateY( 180deg ); }
}

@-webkit-keyframes animLoad{
     from { -webkit-transform: rotateY( 0deg ); }
     to   { -webkit-transform: rotateY( 180deg ); }
}

@-moz-keyframes animLoad{
     from { -moz-transform: rotateY( 0deg ); }
     to   { -moz-transform: rotateY( 180deg ); }
}

@-o-keyframes animLoad{
     from { -o-transform: rotateY( 0deg ); }
     to   { -o-transform: rotateY( 180deg ); }
}

@-ms-keyframes animLoad{
     from { -ms-transform: rotateY( 0deg ); }
     to   { -ms-transform: rotateY( 180deg ); }
}

body, div, a, h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding:0;	
}

.content {
	position:absolute;
	width:100%;
	height:auto;
	top:0;
	margin: auto;
}

.content-grid {
	position:absolute;
	width:100%;
	height:auto;
	top:24% ;
	padding: 5%;
	/*left:8%;*/
	margin: auto;
}

@media screen and (min-width: 1786px) {
	.content {
		position:absolute;
		width:100%;
		height:auto;
		left:50%;
		margin-left:-750px;
		top:0;
	}
}

.clear {clear:both;}


/* INTRO *****************************************/

#intro {
	position:fixed;
	width:100%;
	height:80%;
	background-position: 50% 50%;
	background:url(../img/bg_intro1.jpg) no-repeat center center ;
	background-size:cover;
	top:0;
	z-index:0;
	transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995);
	-webkit-transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995);
}

#intro img{ 
	width: 100%;
	max-width: 400px !important;
	height: 100%;
	/*margin: auto;*/
	/*margin-right: 10%;*/
}

#intro.enter {top:-100%; transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995); -webkit-transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995);}

/*#intro video {
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background: url(img/poster.jpg) no-repeat;
  background-size: cover;
}*/

#intro #mask {
	background:#000;
	z-index: 0;
	position: absolute;
	opacity:0.8; 
	right: 0; 
	bottom: 0;
	width: 100%; 
	height: 100%;

}

#color, #calibration {
	position:absolute;
	top:40px;
	height:33px;
	left:50%;
	overflow:hidden;
	font-family:"Futura W01 Book", georgia, sans-serif;
	font-weight:400;
	font-size:18px;
	letter-spacing:4px;
	line-height:33px;
	text-transform:uppercase;
	color:#FFF;
	opacity:0.6;
/*	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;*/
}

#color {width:180px; margin-left:-180px; border-right:1px solid rgba(255,255,255,0.8);}
#calibration {width:180px;}
#color span, #calibration span {display:block; width:180px; height:33px;}
body.loading #color span {margin-left:150px;}
body.loading #calibration span {margin-left:-150px;}
body #color span {margin-left:-15px; text-align:right; transition:margin-left 0.6s cubic-bezier(0.415, 0.055, 0.275, 1.000); -webkit-transition:margin-left 0.6s cubic-bezier(0.415, 0.055, 0.275, 1.000);}
body #calibration span {margin-left:15px; transition:margin-left 0.6s cubic-bezier(0.415, 0.055, 0.275, 1.000); -webkit-transition:margin-left 0.6s cubic-bezier(0.415, 0.055, 0.275, 1.000);}

body.loading #logo {opacity:0;}

#logo {position:absolute; top:50%; left:50%; margin-left:-25%; margin-top:-18%; width:50%; height:auto; opacity:1; transition:opacity 1.2s 0.4s cubic-bezier(0.415, 0.055, 0.275, 1.000); -webkit-transition:opacity 1.2s 0.4s cubic-bezier(0.415, 0.055, 0.275, 1.000);}

#openmenu {display:none;}

@media screen and (max-aspect-ratio: 14/9) {
	#logo {margin-left:-35%; margin-top:-20%; width:70%;}
}

#logo img {width:100%; height:auto;}

/* ========================= MENU =============================*/
nav {position:fixed; top:80%; width:100%; z-index:20; background-color: transparent;}
nav.navtop {top:60px !important; transition:top 0.5s ease-out; -webkit-transition:top 0.5s ease-out;}
#logosmall {position:absolute; left:50%; margin-left:-35px; opacity:0; cursor:pointer; transform:scale(0.1); -ms-transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out;}

@media screen and (min-width: 1786px) {
	nav.enter {width: 1786px; left: 50%; margin-left: -893px;}
}

nav.enter #logosmall {opacity:1; transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transition:all 0.5s 0.2s ease-out; -webkit-transition:all 0.5s 0.2s ease-out;}

#close {display:none;}

.menu {
	width:120px;
	height:90px;
	font-family:Prata,Georgia,serif;
	font-size:45px;
	/*color:#cdb586;	*/
	color: turquoise;
	text-align:right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(to right, #cdb586 50%, rgba(152,152,152,0.8) 50%), url(../img/barre0.png) !important;
	background-position:-40px 60px, 58px 20px !important;
	background-size:200% 3px, 19px 18px !important;
	background-repeat:no-repeat, no-repeat !important;
	opacity:0.6;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	cursor:pointer;
}

.menu:hover, .menu.actif {background-position:0 60px, 38px 20px !important;background-size:200% 3px, 19px 18px !important;background-repeat:no-repeat, no-repeat !important; opacity:1;}
nav.enter .menu {font-size:18px; height:65px; background-position:-40px 36px, 93px 7px !important; background-size:200% 3px, 11px 10px !important; background-repeat:no-repeat, no-repeat !important;}
nav.enter .menu:hover, nav.enter .menu.actif {background-position:0px 36px, 79px 7px !important; background-size:200% 3px, 11px 10px !important; background-repeat:no-repeat, no-repeat !important;}

.menu span.label {
	position:absolute;
	bottom:0;
	left:0;
	text-align:left;
	font-family:"Futura W01 Heavy", arial, sans-serif;
	font-weight:normal;
	font-size:18px;
	letter-spacing:4px;
	line-height:18px;
	text-transform:uppercase;
	color:#FFF;
	opacity:0.6;
/*	-webkit-font-smoothing:antialiased;*/	
	-moz-osx-font-smoothing: grayscale;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
}

nav.enter .menu span.label {color:#FFF; font-size:18px; letter-spacing:3px;}
body.loading .menuexplore, body.loading .menuprofile, body.loading .menugithub, body.loading .menulogin {top:300px;}
.menuexplore, .menuprofile {top:0; position:absolute; left:50%;}
.menugithub, .menulogin {top:0; position:absolute; right:50%;}
.menuexplore {background-position:-40px 60px, 70px 20px !important; background-size:200% 3px, 19px 18px !important; background-repeat:no-repeat, no-repeat !important; margin-left:-460px; transition:top 0.4s 0.2s ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, left 0.2s ease-out, margin-left 0.2s ease-out; -webkit-transition:top 0.4s 0.2s ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, left 0.2s ease-out, margin-left 0.2s ease-out;}
.menuexplore:hover, .menuexplore.actif {background-position:0 60px, 50px 20px !important; background-size:200% 3px, 19px 18px !important; background-repeat:no-repeat, no-repeat !important;}
nav.enter .menuexplore {left:8%; margin:0; background-position:0 36px, 97px 7px !important;}
nav.enter .menuexplore.actif, nav.enter .menuexplore:hover {background-position:0 36px, 84px 7px !important; background-size:200% 3px, 11px 10px !important; background-repeat:no-repeat, no-repeat !important;}
.menuprofile {margin-left:-180px; transition:top 0.4s 0.3s  ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, left 0.2s ease-out, margin-left 0.2s ease-out; -webkit-transition:top 0.4s 0.3s  ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, left 0.2s ease-out, margin-left 0.2s ease-out;}
nav.enter .menuprofile {left:28%;margin:0;}
.menugithub {margin-right:-200px; transition:top 0.4s 0.4s  ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, right 0.2s ease-out, margin-right 0.2s ease-out; -webkit-transition:top 0.4s 0.4s  ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, right 0.2s ease-out, margin-right 0.2s ease-out;}
nav.enter .menugithub {right:28%; margin:0;}
.menulogin {margin-right:-480px; transition:top 0.4s 0.5s ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, right 0.2s ease-out, margin-right 0.2s ease-out; -webkit-transition:top 0.4s 0.5s ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out, right 0.2s ease-out, margin-right 0.2s ease-out;}
nav.enter .menulogin {right:8%; margin:0;}
/*back to top button*/
#backtotop {
	margin:60px auto 0 auto;
	width:60px;
	height:60px;
	border-radius:50%;
	border:1px solid #000;
	cursor:pointer;
/*	background-image: url("../img/menu.svg"); */
	background-image: linear-gradient(to top, bisque 50%, #FFF 50%);
	background-position:center;
	background-repeat:repeat;
	background-size:cover;
	transition:all 0.2s ease-out;
}

#backtotop:hover {background-position:bottom center;}

/* ==========================GRID=========================== */
.container-main{margin: auto;}

#grid {
/*	background-color: #fff;
	background-color: rgba(255,255,255,0.8);*/
	position:absolute;
	top:100%;
	width:100%;
	z-index:1;
	opacity:1;
	min-height:1200px;
	overflow:hidden;
	transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995), opacity 2s ease-in-out, height 0s linear;
	-webkit-transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995), opacity 2s ease-in-out, height 0s linear;
}

#grid  {position:absolute; top:700px; margin: auto;}
#grid.enter, #grid_bg.enter {top:0; transition:top 0.7s ease-out, opacity 1.2s ease-in-out, height 0s linear; -webkit-transition:top 0.7s ease-out, opacity 1.2s ease-in-out, height 0s linear;}

body.profile-main #grid, body.profile-main #grid.enter {
	height:0; 
	transition:height 0s 0.5s linear; -webkit-transition:height 0s 0.5s linear;}

body.login-main #grid, body.login-main #grid.enter {
	height:0;
	transition:height 0s 0.5s linear;	
	-webkit-transition:height 0s 0.5s linear;
}

#grid.fade {
	opacity:0;
	height:0 !important;
	min-height:0;
	overflow:hidden;
	transition:opacity 1s ease-in-out, height 0s 1s linear;	
	-webkit-transition:opacity 1s ease-in-out, height 0s 1s linear;	
}

#grid_bg.fx {position:fixed; top:0;}

#grid_bg {
	position:absolute;
	width:100%;
	height:100%;
	top:100%;
	z-index:0;
	margin: auto;
/*	background:url(background/general.jpg);
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:center center !important;
	transition:background 0.8s linear;
	-webkit-transition:background 0.8s linear;*/
}

#grid_bg:before {content: ''; width:0; height:0; visibility:hidden;}
#grid>.content>div {position:relative; padding:0; margin:0;}

/*============================ PROFILE ========================== */

#profile-main {
	position:absolute;
	width:100%;
	top:100%;
	background:#FFF;
	z-index:9;
	padding:250px 0 300px 0;
	opacity:1;
	height:0;
	min-height:100%;
	transition:all 1s ease-out;
	-webkit-transition:all 1s ease-out;
}

.container-profile{background-color: #fff; border:4px double #cdb586;}

.profile-holder {
	z-index:8;
	background:#FFF;
	position:fixed;
	width:100%;
	height:0;
	opacity:0;
	background-position: 50% 50%;
	background:url(../img/bg_intro1.jpg) no-repeat center center ;
	background-size:cover;
	transition:opacity 0.5s 2s ease-out, height 0s 2.5s ease-out;;
	-webkit-transition:opacity 0.5s 2s ease-out, height 0s 2.5s ease-out;;;
}

body.profile-main .profile-holder, body.login-main .profile-holder {opacity:1; height:100%; transition:opacity 0s 0.5s ease-out, height 0s 0.5s ease-out; -webkit-transition:opacity 0s 0.5s ease-out, height 0s 0.5s ease-out;}
#profile-main.pfix {position:fixed; min-height:0; opacity:0;}
body.profile-main #profile-main {position:absolute; opacity:1; height:auto; top:0; min-height:1000px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
#profile_info, #login_info {position:relative; display:table; width:84%; margin:0 auto; opacity:0; height:0; transition:height 1s 0.5s ease-in-out, opacity 1.5s; -webkit-transition:height 1s 0.5s ease-in-out, opacity 1.5s;}
body.profile-main #profile_info, body.login-main #login_info {height:480px; opacity:1; transition:opacity 1s 1s ease-in-out, height 1s 1s ease-in-out; -webkit-transition:opacity 1s 1s ease-in-out, height 1s 1s ease-in-out;}


@media screen and (max-width: 1400px) {
	body.profile-main #profile_info, body.login-main #login_info {height:400px;}
}

@media screen and (max-width: 1160px) {
	body.profile-main #profile_info, body.login-main #login_info {height:360px;}
}

#profile_info .image, #login_info .image {
	position:absolute;
	z-index:0;
	width:100%;
	height:100%;
	overflow:hidden;	
}

#profile_info img, #login_info img {
	position:absolute;
	z-index:0;
	width:100%;
	height:auto;
	top:0;
	left:0;
	margin-top:0;	
}

#profile_info p {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	z-index:1;
	width:46%;
	padding-right:100px;
	font-family:"Futura W01 Book", Arial, sans-serif;
	font-size:14px;
	line-height:30px;
	color:#929292;
	letter-spacing:1px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#profile_info p span {color:#bdbdbd;}

.p, .r, .o, .f, .i, .l, .e, .underscore, .c, .o2, .l2, .o3, .r2, .i2, .r3, .i3, .s {
	z-index:1;
	display:block;
	position:absolute;
	color:#cdb586;
	font-size:90px;
	line-height:90px;
	font-family:Prata, Georgia, sans-serif;
	-webkit-font-smoothong:antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity:0;
	transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}

/*.p {left:10%; top:-30px;}
.r {left:35%; top:-30px;}
.o {left:10%; top:50%; margin-top:-40px;}
.f {left:35%; top:50%; margin-top:-40px;}
.i {left:10%; bottom:-40px;}
.l {left:10%; bottom:-40px;}
.e {left:10%; bottom:-40px;}*/

.p {left:10%; top:-30px;}
.r {left:35%; top:-30px;}
.o {left:60%; top:-30px;}
.f {left:85%; top:-30px;}
.i {left:10%; bottom:-40px; margin-top:-40px;}
.l {left:35%; bottom:-40px; margin-top:-40px;}
.e {left:60%; bottom:-40px; margin-top:-40px;}
.underscore {left:85%; bottom:-40px; margin-top:-40px;}

body.profile-main .p {opacity:1; transition:all 1s 1.5s ease-in-out; -webkit-transition:all 1s 1.5s ease-in-out;}
body.profile-main .r {opacity:1; transition:all 1s 1.65s ease-in-out; -webkit-transition:all 1s 1.65s ease-in-out;}
body.profile-main .o {opacity:1; transition:all 1s 1.8s ease-in-out; -webkit-transition:all 1s 1.8s ease-in-out;}
body.profile-main .f {opacity:1; transition:all 1s 1.95s ease-in-out; -webkit-transition:all 1s 1.95s ease-in-out;}
body.profile-main .i {opacity:1; transition:all 1s 2.1s ease-in-out; -webkit-transition:all 1s 2.1s ease-in-out;}
body.profile-main .l {opacity:1; transition:all 1s 2.25s ease-in-out; -webkit-transition:all 1s 2.25s ease-in-out;}
body.profile-main .e {opacity:1; transition:all 1s 2.40s ease-in-out; -webkit-transition:all 1s 2.40s ease-in-out;}
body.profile-main .underscore {opacity:1; transition:all 1s 2.60s ease-in-out; -webkit-transition:all 1s 2.60s ease-in-out;}

/*.underscore  {
	color:#cdb586;
	position:absolute;
	z-index:1;
	margin-top: -40px;
	bottom: -35px;
	width:70px;
	height:4px;
	background:#000;
}*/

 
#city_grid {position:relative; width:100%; margin:100px auto 100px auto; opacity:0; transition:margin 0.5s 1.5s ease-in-out,opacity 0.5s 1.5s ease-in-out; -webkit-transition:margin 0.5s 1.5s ease-in-out,opacity 0.5s 1.5s ease-in-out;}

body.profile-main #city_grid {
	 margin:100px auto 100px auto;
	 opacity:1;
	 transition:margin 0.5s 1.5s ease-in-out,opacity 0.5s 1.5s ease-in-out;
	 -webkit-transition:margin 0.5s 1.5s ease-in-out,opacity 0.5s 1.5s ease-in-out;
}
/*take 600 px out*/
.perspective{perspective:600px; width: 100%; border:4px double #cdb586; margin: auto; height: auto !important;}

#city_grid .perspective {perspective:600px; -webkit-perspective:600px; position:relative; width:100%; height:550px; float:left;}
 
.city {
	position:relative;
	width:100%; 
	height:100%;
	padding:50px;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;   
  	box-sizing: border-box;   
	transition:background 0.6s ease-out;
	-webkit-transition:background 0.6s ease-out;
	opacity:0.7;
	transform:rotateX(12deg);
	-webkit-transform:rotateX(12deg);
}

.city.display {opacity:1; transform:rotateX(0deg); -webkit-transform:rotateX(0deg); transition:all 0.4s ease-out; -webkit-transition:all 0.4s ease-out;	}
 
 
/*.city_info {
	position:relative;
	width:100%;
	height:100%;
	background:rgba(169,78,74,0.9);
	text-align:center;
	transition:background 0.5s 0.6s ease-out;
	-webkit-transition:background 0.5s 0.6s ease-out;
}*/

.city:hover .city_info {transition:background 0.5s ease-out; -webkit-transition:background 0.5s ease-out;}

/*.degrade {
	position:absolute;
	width:100%;
	height:200px;
	bottom:0;
	opacity:1;
}*/

h3 {
	position:absolute;
	top:50%;
	width:100%;
	margin-top:-30px;
	font-family:Prata, Georgia, sans-serif;
	font-size:65px;
	line-height:65px;
	color:#FFF;
	text-align:center;
	letter-spacing:8px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition:margin-top 0.2s 0.6s ease-out;
	-webkit-transition:margin-top 0.2s 0.6s ease-out;
}
 
.city:hover h3 {
	margin-top:-110px;
	transition:margin-top 0.2s ease-out;
	-webkit-transition:margin-top 0.2s ease-out;
}

@media screen and (max-width: 1400px) {
	h3 {margin-top:-24px; font-size:50px; line-height:50px;}
	.city:hover h3 {margin-top:-100px;}
	.city_info .position {margin-top:80px;}
}

@media screen and (max-width: 1160px) {
	h3 {margin-top:-20px; font-size:42px; line-height:42px;}
	.city:hover h3 {margin-top:-90px;}
	.city_info .position {margin-top:50px;}
}
 
form .line {
	position:absolute;
	top:50%;
	width:100%;
	height:70px;
	margin-top:-15px;
	background: linear-gradient(to top, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
	background-position:center bottom;
	background-size:4px 200%;
	background-repeat:no-repeat;
	transition:background-position 0.2s 0.4s ease-out;
	-webkit-transition:background-position 0.2s 0.4s ease-out;
}

.city:hover .city_info .line {background-position:center top; transition:background-position 0.2s 0.4s ease-out; -webkit-transition:background-position 0.2s 0.4s ease-out;}

.city_info .position {
	position:absolute;
	top:50%;
	width:100%;
	margin-top:100px;
	opacity:0;
	font-family:"Futura W01 Book", arial, sans-serif;
	font-size:14px;
	line-height:14px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:2px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition:opacity 0.2s 0.2s ease-out;
	-webkit-transition:opacity 0.2s 0.2s ease-out;
}

/*.city:hover .city_info .position {
	opacity:1;
	transition:opacity 0.2s 0.7s ease-out;
	-webkit-transition:opacity 0.2s 0.7s ease-out;
}*/

/*===========================LOGIN-POPUP======================*/
.webui-popover-content {background-color: bisque;}

#login-form {background-color: #000; color: bisque !important;}

/*===========================LOGIN-MAIN======================*/

#login-main {
	position:absolute;
	width:100%;
	top:100%;
	background:#000;
	z-index:9;
	padding:250px 0 300px 0;
	opacity:1;
	height:0;
	min-height:100%;
	transition:all 1s ease-out;
	-webkit-transition:all 1s ease-out;
}

#login-main.pfix {position:fixed; min-height:0; opacity:0;}
body.login-main #login-main {position:absolute; opacity:1; height:auto; top:0; min-height:1000px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.c, .o2, .l2, .o3, .r2, .i2, .r3, .i3, .s {width: 80px; text-align: center;}
.c  {left:23%; top:-30px;} .o2 {left:50%; margin-left:-40px; top:-30px;} .l2 {right:23%; top:-30px;} .o3 {left:23%; top:50%; margin-top:-30px;} .r2 {left:50%; margin-left:-40px; top:50%; margin-top:-30px;} .i2 {right:23%; top:50%; margin-top:-30px; color:#cdcdcd;} .r3 {left:23%; bottom:-45px; color:#cdcdcd;} .i3 {left:50%; margin-left:-40px; bottom:-45px; color:#cdcdcd;} .s  {right:23%; bottom:-45px; color:#cdcdcd;}
body.login-main .c {opacity:1; transition:all 1s 1.5s ease-in-out; -webkit-transition:all 1s 1.5s ease-in-out;}
body.login-main .o2 {opacity:1; transition:all 1s 1.65s ease-in-out; -webkit-transition:all 1s 1.65s ease-in-out;}
body.login-main .l2 {opacity:1; transition:all 1s 1.8s ease-in-out; -webkit-transition:all 1s 1.8s ease-in-out;}
body.login-main .o3 {opacity:1; transition:all 1s 1.95s ease-in-out; -webkit-transition:all 1s 1.95s ease-in-out;}
body.login-main .r2 {opacity:1; transition:all 1s 2.1s ease-in-out; -webkit-transition:all 1s 2.1s ease-in-out;}
body.login-main .i2 {opacity:1; transition:all 1s 2.25s ease-in-out; -webkit-transition:all 1s 2.25s ease-in-out;}
body.login-main .r3 {opacity:1; transition:all 1s 2.4s ease-in-out; -webkit-transition:all 1s 2.4s ease-in-out;}
body.login-main .i3 {opacity:1; transition:all 1s 2.45s ease-in-out; -webkit-transition:all 1s 2.45s ease-in-out;}
body.login-main .s {opacity:1; transition:all 1s 2.6s ease-in-out; -webkit-transition:all 1s 2.6s ease-in-out;}

/*FORM*/
#form {width:84%; margin:170px auto 100px auto; opacity:0; transition:opacity 1s ease-in-out; -webkit-transition:opacity 1s ease-in-out;}
body.login-main #form {opacity:1; transition:opacity 0.5s 2.6s ease-in-out; -webkit-transition:opacity 0.5s 2.6s ease-in-out;}
#register-border{border-right: 2px solid bisque;}

#container-login-main {
	position:relative;
	width:45%;
	font-family:"Futura W01 Book", Arial, sans-serif;
	font-weight:normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:14px;
	line-height:20px;
	letter-spacing:2px;
}

.input-field .prefix {color: bisque;}

/* label underline focus color */
.input-field input[type=text]:focus, .medium-small {
    font-family: "Futura W01 Book", Arial, sans-serif;
    border-bottom: 1px solid #000;
    color: #978156;
    box-shadow: 0 1px 0 0 #000;
}
/* label color */
.input-field label, .input-field a {
	font-family: "Futura W01 Book", Arial, sans-serif;
	color: bisque !important;
	text-align: center;
	text-transform: uppercase;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: bisque;
}
.input-field .prefix.active {
    color: #978156;
}

.container-login h4{
	color:bisque !important;
	line-height:40px;
	letter-spacing: 3px;
	font-family:Prata, Georgia, sans-serif;
	-webkit-font-smoothong:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#contactleft, #contactright {
	position:relative;
	width:45%;
	font-family:"Futura W01 Book", Arial, sans-serif;
	font-weight:normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#978156;
	font-size:14px;
	line-height:20px;
	letter-spacing:2px;
}

#contactleft {float:left;}
#contactright {float:right;}

/*textarea {
	width:100%;
	border:none;
	padding:-15px 0 15px 0;
	margin-top:0px;
	margin-bottom:25px;
	color:#929292;
	background:url(img/line.png);
	background-repeat:repeat;
	background-position:0 0px;
	font-family:"Futura W01 Book", Arial, sans-serif;
	font-weight:normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:14px;
	line-height:50px;
	outline: none;
	opacity:1;
	resize: none;
}

input {
	opacity:1;
	border:none;
	border-bottom:3px solid #cdcdcd;
	padding:15px 0px;
	margin-top:0px;
	margin-bottom:47px;
	background:none;
	color:#929292;
	font-family:'Futura W01 Book', Arial, sans-serif;
	font-weight:normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:14px;
	outline: none;
}*/

label {text-transform:uppercase;letter-spacing:4px;}

/*#contactleft input {width:100%;}
	
#contactright textarea {width:100%; height:400px;}

#contactright legend {margin-top:0px;}*/

/* FOOTER *****************************************/

footer {
	position:fixed;
	z-index:20;
	bottom:-200px;
	width:100%;
	height:200px;
	padding-top:50px;
	background:#222;
	font-size:15px;
	color:#777;
	font-family:'Futura W01 Book', Arial, sans-serif;
	font-weight:normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	transition:bottom 0.5s ease-out;
}

footer.visible {bottom:0;}

footer .content {
	position:relative;
	width:84%;
	margin:0 auto;
	left:0;
	padding: 0px;
}

#footerleft {
	width:100%;
	float:left;
	padding-right:40px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

#footerright {
	width:100%;
	float:right;
	padding-left:40px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

footer span { 
	display:block;
	margin-bottom:20px;
	font-size:20px;
	letter-spacing:2px;
	font-family:Prata, Arial, sans-serif;
	color:#FFF;
}

footer span.contactme {
	color:#FFF;
	text-decoration:none;
	display:inline;
	font-size:15px;
	letter-spacing:0;
	font-family:'Futura W01 Book', Arial, sans-serif;
	cursor:pointer;
}

footer a {color:#FFF; text-decoration:none;}




